nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #007BFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav a {
    margin: 0 15px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: white;
    color:  #007BFF;
  }
  
h1 {
  text-align: center;
  color: #444;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #eee;
  color: #007BFF;
  border: 2px solid #007BFF;

}

p {
  font-size: 18px;
  margin: 10px 0;
}

.main_content {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(finance2.webp);
  background-size: cover;
  overflow-y: auto;
  text-align: center;

}